@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  /* TODO: Add general breakpoints/fonts/etc */
  /* --breakpoint-2xs: 20rem; */
  /* --breakpoint-xs: 25rem; */
  /* --text-3xs: 0.5rem; */
  /* --text-3xs--line-height: 1rem; */
  /* --text-2xs: 0.625rem; */
  /* --text-2xs--line-height: 1rem; */
  /* --text-xs: 0.75rem; */
  /* --text-xs--line-height: 1.125rem; */

  /* Colors */

  --color-primary: var(--color-orange-500);
  --color-primary-50: var(--color-orange-50);
  --color-primary-100: var(--color-orange-100);
  --color-primary-200: var(--color-orange-200);
  --color-primary-300: var(--color-orange-300);
  --color-primary-400: var(--color-orange-400);
  --color-primary-500: var(--color-orange-500);
  --color-primary-600: var(--color-orange-600);
  --color-primary-700: var(--color-orange-700);
  --color-primary-800: var(--color-orange-800);
  --color-primary-900: var(--color-orange-900);
  --color-primary-950: var(--color-orange-950);

  --color-secondary: var(--color-zinc-500);
  --color-secondary-50: var(--color-zinc-50);
  --color-secondary-100: var(--color-zinc-100);
  --color-secondary-200: var(--color-zinc-200);
  --color-secondary-300: var(--color-zinc-300);
  --color-secondary-400: var(--color-zinc-400);
  --color-secondary-500: var(--color-zinc-500);
  --color-secondary-600: var(--color-zinc-600);
  --color-secondary-700: var(--color-zinc-700);
  --color-secondary-800: var(--color-zinc-800);
  --color-secondary-900: var(--color-zinc-900);
  --color-secondary-950: var(--color-zinc-950);

  --color-surface-50: var(--color-zinc-100);
  --color-surface-100: var(--color-zinc-100);
  --color-surface-200: var(--color-zinc-200);
  --color-surface-300: var(--color-zinc-300);
  --color-surface-400: var(--color-zinc-400);
  --color-surface-500: var(--color-zinc-500);
  --color-surface-600: var(--color-zinc-600);
  --color-surface-700: var(--color-zinc-700);
  --color-surface-800: var(--color-zinc-800);
  --color-surface-900: var(--color-zinc-900);
  --color-surface-950: var(--color-zinc-950);

  --color-on-surface-50: var(--color-neutral-100);
  --color-on-surface-100: var(--color-neutral-100);
  --color-on-surface-200: var(--color-neutral-200);
  --color-on-surface-300: var(--color-neutral-300);
  --color-on-surface-400: var(--color-neutral-400);
  --color-on-surface-500: var(--color-neutral-500);
  --color-on-surface-600: var(--color-neutral-600);
  --color-on-surface-700: var(--color-neutral-700);
  --color-on-surface-800: var(--color-neutral-800);
  --color-on-surface-900: var(--color-neutral-900);
  --color-on-surface-950: var(--color-neutral-950);

  --color-success: var(--color-green-500);
  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-warn: var(--color-yellow-500);
  --color-warn-50: var(--color-yellow-50);
  --color-warn-100: var(--color-yellow-100);
  --color-warn-200: var(--color-yellow-200);
  --color-warn-300: var(--color-yellow-300);
  --color-warn-400: var(--color-yellow-400);
  --color-warn-500: var(--color-yellow-500);
  --color-warn-600: var(--color-yellow-600);
  --color-warn-700: var(--color-yellow-700);
  --color-warn-800: var(--color-yellow-800);
  --color-warn-900: var(--color-yellow-900);
  --color-warn-950: var(--color-yellow-950);

  --color-error: var(--color-red-500);
  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);

  --color-info: var(--color-blue-500);
  --color-info-50: var(--color-blue-50);
  --color-info-100: var(--color-blue-100);
  --color-info-200: var(--color-blue-200);
  --color-info-300: var(--color-blue-300);
  --color-info-400: var(--color-blue-400);
  --color-info-500: var(--color-blue-500);
  --color-info-600: var(--color-blue-600);
  --color-info-700: var(--color-blue-700);
  --color-info-800: var(--color-blue-800);
  --color-info-900: var(--color-blue-900);
  --color-info-950: var(--color-blue-950);
}