@import "tailwindcss";
@import "./glelements.css";
@source "../glelements/src";

@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
}

@layer components {
  .dark .markdown {
    h1,h2,h3,h4,h5,h6,p,li {
      color: var(--color-on-surface-100);
    }
  }

  .markdown {
    ul {
      display: grid;
      gap: 0.75rem
    }
    li {
      list-style-position: outside;
      list-style-type: square;
      margin-left: 1rem;
    }
    a {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-600);
      }
    }
    h1,h2,h3,h4,h5,h6 {
      color: var(--color-on-surface-900);
      margin-block: 2rem 1rem;
    }
    h1 {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }
    h2 {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
    p {
      color: var(--color-on-surface-900);
      font-size: var(--text-base);
      line-height: var(--text-lg--line-height);
      margin-block: 1rem;
    }
  }
}
