@import "tailwindcss";
@import "./glelements.css";
@source "../glelements/src";

@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }

  html {
    font-family: 'JetBrains Mono', monospace;
  }

  .markdown {
    ul {
      display: grid;
      gap: 0.5rem
    }
    li {
      list-style-position: inside;
      list-style-type: square;
    }
  }
}
