@import "tailwindcss";
@import "./glelements.css";
@source "../glelements/src";

@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }

  html {
    font-family: 'JetBrains Mono', monospace;
  }

}

@layer components {
  .markdown {
    ul {
      display: grid;
      gap: 0.5rem
    }
    li {
      list-style-position: outside;
      list-style-type: square;
    }
    a {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-600);
      }
    }
  }
}
